@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body {
  font-family: Calibri;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.body__class__news__app {
  padding: 0;
  margin: 0;
}

.h1__iconic__news {
  text-align: center;
  font-size: 100px;
  font-weight: 750;
}

.website_header__newsapp__1 {
  height: 80px;
}

.website_header__newsapp__1 .h1__iconic__news {
  margin: -30px 0;
}

.date__monday__newsapp__1 {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 25px;
}

.social_icons__in__header {
  text-align: center;
  background-color: #000;
  padding: 10px;
  color: #fff;
}

.social_icons__in__header:hover {
  color: rgb(255, 160, 122);
  cursor: pointer;
}

.social_icons__in__header #in__header__i__tag {
  margin: 0 15px;
  cursor: pointer;
}

#navbar__boot__sec__2 {
  height: auto;
}


.menuIcon {
  margin-left: -40px;
  margin-right: 0px;
  color: #fff;
  font-size: large;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  width: 300px;
  height: 60px;
  margin: 0 30px 0 0;
  margin-left: -50px;
  padding: 0 10px 0 0;
}

.navbar-nav {
  text-align: center !important;
  float: none !important;
}

.navbar-nav #collapse__items__3 {
  padding: 0 2px;
  float: right !important;
}

.navbar-nav #collapse__items__3 #id__for__a__collapse {
  color: #fff;
  float: none !important;
  font-size: 14px;
  font-weight: 770;
}

.navbar-nav #collapse__items__3 #id__for__a__collapse:hover {
  color: lightsalmon;
}

.breaking-news-section {
  background-color: black;
  padding: 0 10px;
  display: flex;
}

#btext__news__sec {
  width: 200px;
  font-size: 15px;
  text-transform: uppercase;
  color: lightsalmon;
  font-weight: 550;
  font-style: bold;
  margin: auto;
}

.breaking-news {
  padding: 3px 40px 0 0;
  font-weight: 750;
  color: #fff;
  display: inline-block;
}

.breaking-news:hover {
  color: lightsalmon;
  cursor: pointer;
}

.bntime {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 10px;
  font-size: 14px;
}

#popular-news {
  display: flex;
  margin: 30px 5%;
  justify-content: space-between;
}

#popular-news img__carousel__2 {
  width: 100%;
  filter: brightness(0.7);
  flex-basis: 15px;
}

#popular-news #popular__news__id {
  margin: 0;
  padding: 5px;
  color: #fff;
}

#featured #popular__news__id {
  background-color: darkred;
}

.carousel {
  position: relative;
}

.h5__class_search {
  font-size: 20px;
}


#featured {
  flex: 60%;
  padding: 20px;
}

#aside__id__3 {
  flex-basis: 30%;
  padding: 10px;
  margin: auto 0;
  border: 1px solid #000;
  border-radius: 5px;
}

.recent-news {
  display: flex;
}

.recent-news img {
  width: 70px;
  height: 70px;
  margin: 10px;
}

.recent-news .recent__news__class__3 {
  font-size: 14px;
  font-weight: bold;
  margin: auto;
  text-align: justify;
}

.recent__news__h4 {
  background-color: rgb(4, 98, 134);
  padding: 10px;
  color: #fff;
}



/* Makes the animation pause on hover */
.moving-text:hover {
  animation-play-state: paused;
}

/* The animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* media query to enable animation for only those who want it */
@media (prefers-reduced-motion: no-preference) {
  .moving-text {
    animation: marquee 15s linear infinite;
  }
}

.more-news {
  display: flex;
  background-color: black;
  justify-content: space-around;
  color: #fff;
  padding: 0 5%;
  text-align: justify;
}

.more-news img {
  width: 100%;
}

.news-section {
  padding: 0px !important;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.world, .sports, .politics {
  flex-basis: 45%;
  padding: 20px;
  box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
}



.world #world__id__h2 {
  background-color: #b2175b;
  padding: 0, 10px;
  margin: 10px 0 0 0;
}

#source__badge__pink {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  color: lightsalmon;
  background-color: rgb(53, 52, 52) !important;
  font-size: 13px;
  margin-top: -8px;
  margin-right: -8px;
  padding: 5px;
}

.sports #world__id__h2 {
  background-color: #3c1b75;
  padding: 0, 10px;
  margin: 10px 0 0 0;
}

.politics #world__id__h2 {
  background-color: #188a2b;
  padding: 0, 10px;
  margin: 10px 0 0 0;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  border-radius: 19px;
  line-height: inherit;
}

.social-links__2 {
  background-color: rgb(53, 52, 52) !important;
  color: white;
  display: flex;
  padding: 5% 5% 0 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-links__2 section {
  flex-basis: 50%;
}

.about__about__4 {
  text-align: justify;
  padding: 0 5%;
  width: 60%;
}

.subscription__subs__class {
  padding: 0 0 5% 0;
  width: 40%;
}

.social-icons-footer #in__header__i__tag {
  font-size: 37px;
  padding: 7px;
}

.footer-button {
  border: 1px solid #2196f3;
  color: #2196f3;
  font-size: 14px;
  font-weight: bolder;
  background-color: #fff;
  margin: 5px 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.footer-button:hover {
  color: #fff;
  background-color: #2196f3;
}

.copyright {
  font-size: 15px;
  text-align: center;
  background-color: #000;
  padding: 2px;
  color: #fff;
}

@media screen and (max-width: 788px) {


  .menuIcon {
    margin-left: 10px;
    margin-right: 0px;
    color: #fff;
    font-size: large;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #btext__news__sec {

    width: 437px;
  }

  .h5__class_search, p {
    font-size: 13px !important;
  }

  .carousel-caption {
    bottom: -1.75rem;

  }

  .website_header__newsapp__1 {
    height: auto;
  }

  .website_header__newsapp__1 .h1__iconic__news {
    font-size: 60px;
  }

  .date__monday__newsapp__1 {
    padding: 0;
    text-align: center;
    font-size: 15px;
  }

  .navbar-collapse {
    background-color: #000;
    z-index: 16;
  }


  .breaking-news-section {
    padding: 10px;
    flex-wrap: wrap;
    height: 70px;
  }

  .news-section {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #popular-news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .carousel {
    position: relative;
  }

  #featured {
    flex: 2;
    height: 100%;
    width: 100%;
    padding: 20px;
  }

  .h5__class_search {
    font-size: 18px;
  }

  #aside__id__3 {
    flex-wrap: wrap;
    flex-basis: auto;
    padding: 10px;
    margin: auto;
    border: 1px solid #fff;
  }

  .recent-news {
    display: flex;
  }

  .more-news {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-around;
    color: #fff;
    padding: 0 5%;
    text-align: justify;
  }

  .world, .sports, .politics {
    flex-wrap: wrap;
    flex-basis: auto;
    padding: 20px;
  }


  .social-links__2 section {
    flex-wrap: wrap;
    flex-basis: auto;
  }

  .about__about__4 {
    text-align: center;
    flex-wrap: wrap;
    text-align: justify;
    padding: 2% 5%;
    width: auto;
  }

  .subscription__subs__class {
    flex-wrap: wrap;
    padding: 5%;
    width: auto;
  }

  .footer-button {
    margin: 5px 0;
  }

  .copyright {
    font-size: 15px;
    text-align: center;
    background-color: #000;
    padding: 2px;
    color: #fff;
  }

}


.nav-link {
  padding: 0.6rem 2rem;
  color: #040c18;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

/* CODE FOR CARDS */


@media screen and (max-width: 460px) {


  #logo {
    width: 220px;
    height: 60px;
    margin: 0 40px 0 0;
    margin-left: -50px;
    padding: 0 10px 0 0;
  }

}

@media screen and (max-width: 370px) {


  #logo {
    width: 180px;
    height: 60px;
    margin: 0 40px 0 0;
    margin-left: -50px;
    padding: 0 10px 0 0;
  }

}

a {
  color: rgb(241, 238, 238);
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none !important;
}

a,
a:active,
a:focus {
  color: rgb(236, 229, 229);
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

.maqueA {
  color: white;
}

.maqueA:hover {
  color: lightsalmon;
  text-decoration: none;
  font-weight: 2rem;
}

#news_card {
  display: flex;
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  border-radius: 8px;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
  margin-top: 20px;
}

#news_card:hover {
  border: 1px solid rgb(12, 8, 7);
}

#img__id__multiple__cards {
  width: 100%;
  height: 220px;
  overflow: hidden;
  transition: .5s;
  border-radius: 7px 7px 0 0;
}

#news_title {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: #233D63;
  text-transform: uppercase;

}

#news_description {
  font-size: 0.9em;
  margin-bottom: 20px;
  line-height: 1.6em;
}



.news-section {
  padding: 90px 0;
}

.news-content {
  padding: 10px 10px;

}

.news-item__cards {
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.news-item__cards:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-3px);
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.newsimg__cards__multiple img {
  width: 100%;
}

.news_postdate {
  display: block;
  /* position: absolute; */
  /* text-align: center; */
  letter-spacing: 2px;
  margin-bottom: 3px;
  color: #FF3A46;
}

.news_authorinfo {
  border: transparent;
  padding: 14px 0px 0px 0px;
  background: transparent;
  font-size: 14px;
}

.news_authorinfo i {
  margin-right: 6px;
}

.news_authorinfo span:last-child {
  float: right;
}

.news_authorinfo a {
  color: #666;
  text-decoration: none;

}

#read_more_btn {
  color: lightsalmon;
  font-weight: 600;
  background-color: #222;
  border-color: #fff;
  margin-top: -20px;
  border-radius: 4px;
}

#read_more_btn:hover {
  font-style: italic;
}

.center .news-content {
  background: linear-gradient(-120deg, #8758ff 0, #614ef9 100%);
}

.center .news-content h3,
.center .news-content p {
  color: #fff;
}



.center .news_authorinfo a,
.center .news_authorinfo i {
  color: #fff;
}

.news-slide.owl-carousel .col-lg-4 {
  max-width: 100%;
  padding: 0;
}

.news-section .owl-theme .owl-nav [class*="owl-"] {
  color: #040c18;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #fff;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.small-title {
  font-size: 20px;
  text-transform: capitalize;
  color: #FF3A46;
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 600;
}

.big-title {
  letter-spacing: 0px;
  padding-bottom: 13px;
  position: relative;
  color: #233D63;
  line-height: 50px;
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 600;
}

.main-title-box {
  margin-bottom: 60px;
}

/* CODE FOR CARD FINISH */

#title__newsitem-h3 {
  color: black;
}

#title__newsitem-h3:hover {
  color: lightsalmon;
  text-decoration: none;

}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: #111213 !important;
}

.btn-primary {
  color: #fff;
  background-color: #0c0303 !important;
  border-color: #04070c !important;
}


.btn-primary:hover {
  background-color: #111213 !important;
  color: lightsalmon;
  border-color: rgb(0, 0, 0);
  font-weight: 430;


}

hr:not([size]) {
  height: 2px !important;
}

/* code for Hamburgerdrawer */
.css-wf16b5 {
  background-color: #111213 !important;
}

#menuIcon {
  margin-left: -40px;
  margin-right: 0px;
  color: #fff;
  font-size: large;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#categories {
  display: flex;
  align-items: center;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}


#category_icons {
  color: #fff;
}

#cate_items * {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 13px;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  font-weight: 500;
}

#cate_items:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: scale(1.05);
  text-decoration: none;
  color: lightsalmon;
  /* background-color: #333; */
}

#category_btn {
  height: auto;
  width: 180px;
  background-color: #111213;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 10px 0 0;
  margin-left: -1px;
  margin-bottom: -10px;
}

#category_btn:hover {
  background-color: #111213;
}

.drawer_container {
  background-color: #111213;
  color: #fff;
  height: 100%;
}

#hr_line {
  margin-top: 80px;
  height: 2px;
  color: white;
}

#hr_line2 {
  margin-top: 10px;
  height: 3px;
  color: white;
}


#id_fora_collapse:hover {
  color: lightsalmon !important;

}

#category_btn:hover {
  color: lightsalmon !important;

}

svg:hover {
  color: lightsalmon !important;

}

.fab, .far {
  font-weight: 400;
  padding: 4px;
}

/* code for Hamburgerdrawer finish */